HOSTNAME=hyperveloceLT
USERNAME=kanasu
TIMEZONE=Australia/Melbourne
SSH_PORT=22

PACKAGES=PACKAGES = stacer timeshift btop curl wget git flatpak synaptic brave-browser librewolf feh  kitty neovim vim zoxide
FLATPAK_APPS="com.github.IsmaelMartinez.teams_for_linux us.zoom.Zoom io.github.realmazharhussain.GdmSettings flathub com.rtosta.zapzap com.mastermindzh.tidal-hifi hu.irl.cameractrls us.zoom.Zoom com.github.PintaProject.Pinta md.obsidian.Obsidian io.gitlab.librewolf-community bleachbit com.rustdesk.RustDesk"
GNOME_EXTENSIONS="customreboot@nova1545 blur-my-shell@aunetx openweather-extension@jenslody.de openbar@neuromorph"


NEXTCLOUD_CONTAINER = nextcloud
DOCKER_COMPOSE_DIR = /home/kanasu/git.hyperveloce/debian.kanasu
LOG_FILE = /home/kanasu/log/docker-update.log

# configs/yourhost.config
# Define the list of setup targets
MAKE_SETUP_TARGETS = check-root system-setup user-setup firewall setup-folders install-packages fonts services flatpak gnome-extensions gnome-settings reboot
MAKE_DOCKER_TARGETS := docker-compose-update docker-clean
MAKE_UPDATE_TARGETS := apt flatpak firmware pip npm custom

# For printing purposes
ENABLE_FLATPAK = true
ENABLE_FWUPD = true
ENABLE_PIP = true
ENABLE_NPM = true
CUSTOM_COMMAND = ""
