HOSTNAME=hyperveloce
USERNAME=kanasu
TIMEZONE=Australia/Melbourne
SSH_PORT=22

PACKAGES="stacer timeshift btop picom dupeguru curl wget build-essential git flatpak gnome-software-plugin-flatpak synaptic gnome-tweaks gnome-shell-extension-manager gnome-power-manager network-manager network-manager-gnome network-manager-openvpn network-manager-openvpn-gnome brave-browser librewolf chromium feh geeqie shotwell kitty neovim vim"
FLATPAK_APPS="com.github.IsmaelMartinez.teams_for_linux us.zoom.Zoom"
GNOME_EXTENSIONS="customreboot@nova1545 blur-my-shell@aunetx openweather-extension@jenslody.de openbar@neuromorph"


NEXTCLOUD_CONTAINER = nextcloud
DOCKER_COMPOSE_DIR = /home/kanasu/git.hyperveloce/debian.kanasu
LOG_FILE = /home/kanasu/log/docker-update.log

# configs/yourhost.config
# Define the list of setup targets
MAKE_SETUP_TARGETS = check-root system-setup user-setup firewall setup-folders install-packages fonts services flatpak gnome-extensions gnome-settings reboot
MAKE_DOCKER_TARGETS = docker-check docker-compose-update
MAKE_UPDATE_TARGETS = apt flatpak firmware pip npm custom

# For printing purposes
ENABLE_FLATPAK = true
ENABLE_FWUPD = true
ENABLE_PIP = true
ENABLE_NPM = true
CUSTOM_COMMAND = ""
