
HOSTNAME=piserver
USERNAME=pi
TIMEZONE=Australia/Melbourne
SSH_PORT=22
PACKAGES="ufw fail2ban htop curl wget nala docker-compose samba smbclient cifs-utils borgbackup mkcert build-essential neovim git wget"

DOCKER_COMPOSE_DIR = /home/pi/git.hyperveloce/pi-server
LOG_FILE = /home/pi/pi.docker/log/docker_update.log

# configs/yourhost.config
MAKE_SETUP_TARGETS := check-root system-setup user-setup firewall install-packages docker-setup
MAKE_DOCKER_TARGETS := docker-compose-update docker-clean
MAKE_UPDATE_TARGETS := apt firmware pip custom

ENABLE_FLATPAK=false
ENABLE_PIP=false
ENABLE_FWUPD=true
ENABLE_NPM=false
ENABLE_DOCKER_UPDATE=true
CUSTOM_COMMAND=""
